# Node dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS or editor-specific files
.DS_Store            # macOS
Thumbs.db            # Windows
.vscode/             # VSCode settings
.idea/               # WebStorm/IntelliJ settings

# Built files (if applicable)
dist/
build/

# Temporary files
*.tmp
*.swp